@import url('https://fonts.googleapis.com/css?family=Oswald:500');


.back{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#currentlist {
  text-decoration: underline;
}
 
.menlist {
  width: 100%;
  position: fixed;
  top:50px;
  text-align:center;
}
.menlist a{
  font-family: 'Oswald', sans-serif;
  font-weight:500;
  text-transform:uppercase;
  text-decoration:none;
  color:#16151b;
  margin:0 15px;
  font-size:16px;
  letter-spacing:1px;
  position:relative;
  display:inline-block;
}
.menlist a:before{
  content:'';
  position: absolute;
  width: 100%;
  height: 3px;
  background:#16151b;
  top:47%;
  animation:out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
.menlist a:hover:before{
  animation:in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;

}
@keyframes in{
  0%{
    width: 0;
    left:0;
    right:auto;
  }
  100%{
    left:0;
    right:auto;
    width: 100%;
  }
}
@keyframes out{
  0%{
    width:100%;
    left: auto;
    right: 0;
  }
  100%{
    width: 0;
    left: auto;
    right: 0;
  }
}
@keyframes show{
  0%{
    opacity:0;
    transform:translateY(-10px);
  }
  100%{
    opacity:1;
    transform:translateY(0);
  }
}

/*Footer section details*/
.footer {
  height: 200px;
  background-color: #697770;
  display: grid;
  width: 100%;
  margin: 0;
  grid-template-columns: 5fr 1fr 1fr 1fr;
  grid-template-areas: 
    "foottext footbuttone footbuttwo foodbutthree";
}

.footer__buttons {
  display: flex;
  margin: 2em;
}

.footer__text{
  grid-area: foottext;
  padding: 2em;
}

.footer__buttone{
  grid-area: footbuttone;
  padding: 2em;
}


.footer__butttwo{
  grid-area: footbuttwo;
  padding: 2em;
}

.footer__buttthree{
  grid-area: foodbutthree;
  padding: 2em;
}