@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
body {
 	margin: 0px;
 	padding: 0px;
 	font-family: 'Raleway', Arial, sans-serif;
 	/*background-color: #ffc200;*/
 	background-color: #6E7D75;

}

p {
	font-size: 16px;
}

.heading {
	height: 90px;
}

h1 {
  font-size: 5em;
  margin-top: 3em;
  color: #EBA966;
  text-transform: uppercase;
  font-family: 'tradegothiclt-bold', sans-serif;
  text-align: center;
}

span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}


/*Animated arrow section*/
#arrow{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

#arrow span{
    display: block;
    width: 15px;
    height: 15px;
    border-bottom: 5px solid #FFFFFF;
    border-right: 5px solid #FFFFFF;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

#arrow span:nth-child(2){
    animation-delay: -0.2s;
}

#arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}








.wrappercontent {
	display: grid;
	/*padding: 2em;*/
	width: 100%;
/*	grid-row-gap: 1em;*/
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas: 
		"starting starting starting starting"
		"introduc introduc introduc introduc"
		"qual qual qual qual"
		"work work work work"
		"workone worktwo workthree workfour"
		"hired hired hiredimg hiredimg";
}

.start{
	grid-area: starting;
	padding: 2em;
	height: 600px;
}

.intro {
	grid-area: introduc;
	padding: 2em;
	margin: 4em 6em;
	/*background-color: red;*/
}

.quality {
	grid-area: qual;
	padding: 2em;
	padding-top: 4em;
	background-color: blue;
	height: 800px;
}

.works {
	grid-area: work;
	padding: 2em;
	background-color: purple;
	height: 50px;
}

.worksone {
	grid-area: workone;
	padding: 2em;
	/*background-color: green;*/
	height: 380px;
}

.workstwo {
	grid-area: worktwo;
	padding: 2em;
	/*background-color: grey;*/
	height: 380px;
}

.worksthree {
	grid-area: workthree;
	padding: 2em;
	/*background-color: red;*/
	height: 380px;
}

.worksfour {
	grid-area: workfour;
	padding: 2em;
	/*background-color: lightblue;*/
	height: 380px;
}

.hire {
	grid-area: hired;
	padding: 2em;
	background-color: pink;
}

.hire__side {
	grid-area: hiredimg;
	padding: 2em;
}

.hire__side img {
	min-height: 300px;
	max-height: 450px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width:50%;
  	border-radius: 25px;
}



figure.snip1091 {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  min-width: 220px;
  max-width: 310px;
  max-height: 310px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  background: #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.snip1091 * {
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

figure.snip1091 img {
  opacity: 0.25;
  max-width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

figure.snip1091 figcaption {
  position: absolute;
  top: 50%;
  left: 30px;
  right: 30px;
  -webkit-transform: rotate(0deg) translateY(-50%) scale(1);
  transform: rotate(0deg) translateY(-50%) scale(1);
  -webkit-transform-origin: center 0;
  transform-origin: center 0;
}

figure.snip1091 figcaption h2 {
  top: 50%;
  letter-spacing: -1px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 0;
  margin: 0;
  font-weight: 400;
}

figure.snip1091 figcaption h2 span {
  font-weight: 800;
}

figure.snip1091 figcaption:before,
figure.snip1091 figcaption:after {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 2px;
  position: absolute;
  content: "";
  display: block;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

figure.snip1091 figcaption:before {
  left: 0;
  top: 0;
}

figure.snip1091 figcaption:after {
  bottom: 0;
  right: 0;
}


figure.snip1091.red {
  background: #2e0e0a;
}


figure.snip1091 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

figure.snip1091:hover img,
figure.snip1091.hover img {
  opacity: 1;
}

figure.snip1091:hover figcaption,
figure.snip1091.hover figcaption {
  -webkit-transform: rotate(-45deg) translateY(-50%) scale(0.9);
  transform: rotate(-45deg) translateY(-50%) scale(0.9);
}

figure.snip1091:hover figcaption:before,
figure.snip1091.hover figcaption:before,
figure.snip1091:hover figcaption:after,
figure.snip1091.hover figcaption:after {
  width: 200%;
}

