/*About me page details*/
.aboutwrap {
	display: grid;
	width: 100%;
	min-height: 100%;
	grid-template-columns: 1fr 1fr 1fr 2fr;
	grid-template-areas: 
		"picper picper pictext pictext";
}

.picperfect {
	grid-area: picper;
}

.picperfect img {
	margin-top: 2em;
	height: 800px;
	opacity: 0.8;
}

.pic__text {
	grid-area: pictext;
	padding: 1em;
	margin-top: 3em;
}

.pic__text, .projwrap h3 {
	font-family: 'Nunito', sans-serif;
	font-size: 40px;
	color: #EBA966;
}

.pic__text h4 {
	font-family: 'Nunito', sans-serif;
	font-size: 60px;
	color: #EBA966;
	letter-spacing: .1em;
}

/*Projects page details*/
.projwrap {
	padding-top: 10em;
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas: 
		"projtext projtext projtext proimg"
		"proimgone proimgtwo proimgthree proimgfour"
		"projtwee projtwee projtwee projtweeimg"
		"projtweeimgone projtweeimgtwo projtweeimgthree projtweeimgfour"
		"projthree projthree projthree projthreeimg"
		"projthreeimgone projthreeimgtwo projthreeimgthree projthreeimgfour"
		"projfour projfour projfour projfourimg"
		"projfourimgone projfourimgtwo projfourimgthree projfourimgfour";
}

.projwrap h5 {
	font-family: 'Nunito', sans-serif;
	font-size: 40px;
	color: #EBA966;
	/*text-align: center;*/
	padding-bottom: .5em;
}

.pay__text {
	grid-area: projtext;
	padding: 1em;
	margin-left: 3em;
	width: 80%;
}

.pay__img img {
	grid-area: proimg;
	padding: 1em;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	min-height: 300px;
	max-height: 400px;
}

.pay__imga img {
	grid-area: proimgone;
	padding: 1em;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	min-height: 300px;
	max-height: 400px;
}

.pay__imgb img {
	grid-area: proimgtwo;
	padding: 1em;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	min-height: 300px;
	max-height: 400px;
}

.pay__imgc img {
	grid-area: proimgthree;
	padding: 1em;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	min-height: 300px;
	max-height: 400px;
}

.pay__imgd img {
	grid-area: proimgfour;
	padding: 1em;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	min-height: 300px;
	max-height: 400px;
}


/*project 2 details*/
.proj2__text {
	grid-area: projtwee;
	padding: 1em;
	margin-top: 100px;
	margin-left: 3em;
	width: 80%;
}

.pro2__img img {
	grid-area: projtweeimg;
	padding: 1em;
	display: block;
	margin-top: 100px;
  	margin-left: auto;
  	margin-right: auto;
  	min-height: 300px;
	max-height: 400px;
}

.pro2__imga img {
	grid-area: projtweeimgone;
	padding: 1em;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	min-height: 200px;
	max-height: 300px;
}

.pro2__imgb img {
	grid-area: projtweeimgtwo;
	padding: 1em;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	min-height: 200px;
	max-height: 300px;
}

.pro2__imgc img {
	grid-area: projtweeimgthree;
	padding: 1em;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	min-height: 200px;
	max-height: 300px;
}

.pro2__imgd img {
	grid-area: projtweeimgfour;
	padding: 1em;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	min-height: 200px;
	max-height: 300px;
}

/*project 3 details*/
.proj3__text {
	grid-area: projthree;
	padding: 1em;
	margin-top: 100px;
	margin-left: 3em;
	width: 80%;
}

.pro3__img img {
	grid-area: projthreeimg;
	padding: 1em;
	display: block;
	margin-top: 100px;
  	margin-left: auto;
  	margin-right: auto;
  	min-height: 300px;
	max-height: 400px;
}

.pro3__imga img {
	grid-area: projthreeimgone;
	padding: 1em;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	min-height: 200px;
	max-height: 300px;
}

.pro3__imgb img {
	grid-area: projthreeimgtwo;
	padding: 1em;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	min-height: 200px;
	max-height: 300px;
}

.pro3__imgc img {
	grid-area: projthreeimgthree;
	padding: 1em;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	min-height: 200px;
	max-height: 300px;
}

.pro3__imgd img {
	grid-area: projthreeimgfour;
	padding: 1em;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	min-height: 200px;
	max-height: 300px;
}

/*project 4 details*/
.proj4__text {
	grid-area: projfour;
	padding: 1em;
	margin-top: 100px;
	margin-left: 3em;
	width: 80%;
}

.pro4__img img {
	grid-area: projfourimg;
	padding: 1em;
	display: block;
	margin-top: 100px;
  	margin-left: auto;
  	margin-right: auto;
  	min-height: 300px;
	max-height: 400px;
}

.pro4__imga img {
	grid-area: projfourimgone;
	padding: 1em;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	min-height: 200px;
	max-height: 300px;
}

.pro4__imgb img {
	grid-area: projfourimgtwo;
	padding: 1em;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	min-height: 200px;
	max-height: 300px;
}

.pro4__imgc img {
	grid-area: projfourimgthree;
	padding: 1em;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	min-height: 200px;
	max-height: 300px;
}

.pro4__imgd img {
	grid-area: projfourimgfour;
	padding: 1em;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	min-height: 200px;
	max-height: 300px;
}

.spacey {
	height: 5em;
}

/*Contact page info!!!*/
.contwrap {
	padding-top: 10em;
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: 
		"context context context conimg conimg"
		"cinfo cinfo cinfo conimg conimg";
}

.contact__text {
	grid-area: context;
	padding: 1em;
	margin-left: 3em;
}

.contact-info {
	grid-area: cinfo;
	padding: 3em;
	margin: 3em;
	margin-left: 5em;
}

.contact-info p {
	font-size: 18px;
}

.contact__img img {
	grid-area: conimg;
	padding: 1em;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	min-height: 350px;
	max-height: 400px;
}

@media only screen and (max-width: 600px) {
	/*Contact page info!!!*/
	.contwrap {
		padding-top: 10em;
		display: grid;
		width: 100%;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 
			"context context"
			"cinfo cinfo";
	}

	/*h2 {
		padding-right: .2em;
		font-size: 30px;
	}*/

	.contact__text {
		grid-area: context;
		/*padding: .5em;*/
		/*margin-left: .5em;*/
	}

	.contact-info {
		grid-area: cinfo;
		padding: 1em;
		margin: 1em;
		margin-left: 1em;
	}

	.contact__img img {
		display: none;
	}
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
	/*Contact page info!!!*/
	.contwrap {
		padding-top: 10em;
		display: grid;
		width: 100%;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 
			"context context"
			"cinfo cinfo";
	}

	.contact__text {
		grid-area: context;
	}

	.contact-info {
		grid-area: cinfo;
		padding: 1em;
		margin: 1em;
		margin-left: 1em;
	}

	.contact__img img {
		display: none;
	}

}